@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&family=K2D:wght@500;800&display=swap');

body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: K2D;
    font-weight: 500;
    text-align: center;
    display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
    color: #131313;
    margin-top: 2em;
    padding: 0 .5em;
    font-family: Big Shoulders Stencil Display;
    font-size: 4em;
    font-weight: 900;
    word-spacing: .1em;
    text-shadow: .03em -.03em #979797
}

h2 {
    color: #4a4a4a;
    margin-bottom: 3em;
    padding: .2em .2em;
    font-size: 2em;
    font-weight: 800;
}

h2 a{
    color: #6B63B9;
    font-weight: 800;
    text-decoration: none;
}

.telegram {
    padding-bottom: 5em;
}

.telegram a{
    background-color: #0088cc;
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    padding-bottom: .5em;
    padding: .2em .5em;
    font-size: 1.8em;
    border-radius: 1em;
}

.github {
    margin-bottom: 3em;
}
.github a{
    background-color: #6e5494;
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    padding: .2em .5em;
    font-size: 1.4em;
    border-radius: 1em;
}


img {
    height: auto;
    width: 1.4em;
    margin: 0 .3em -.3em 0;
}


a:hover{
    color: #414141;
}

/* by: t.me/yehuda100 */